@import url(https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css);

.container {
  padding: 60px;
  max-width: 800px;
  margin: auto;
}

input {
  line-height: 2 !important;
  font-size: 18px;
  height: auto !important;
}

ul {
  margin: 0;
}
.list-items .breadcrumbs {
  margin: 0;
}
.list-items {
  list-style: none;
  border: 1px solid #ccc;
  margin-top: -1px;
  line-height: 2;
  padding: 10px 20px;
  background: white;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.parent-title {
  display: flex;
  justify-content: space-between;
}
.child-list {
  display: flex;
}
